* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: EUkraine;
    src: url('app/fonts/E-Ukraine-Regular.woff2') format('woff2'),
        url('app/fonts/E-Ukraine-Regular.woff') format('woff'),
        url('e-Ukraine-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow: hidden;
    position: fixed;
    width: 100%;
    background-color: #e1dfcc;
    font-family: EUkraine, sans-serif;
}


#burger-modal {
    
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    /* Полная ширина экрана */
   
    /* Полная высота экрана */
    background-color: #e1dfcc;
    /* Светлый фон с небольшой прозрачностью */
    overflow: hidden;
    /* Отключаем прокрутку */
}

/* Контент внутри модального окна */
.burger-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* Растягиваем на всю высоту */
    width: 100%;
    /* Растягиваем на всю ширину */
    text-align: left;
    padding-left: 10px;
    padding-right: 50px;
    padding-bottom: 220px;

}

.burger-modal-content h2 {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 26px;
    font-weight: normal;
}
 
.burger-modal-content hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
    width: 130%;
    margin-left: 20px;

}


.burger-modal-content p {
    text-align: left;
    align-items: start;
}

a {
    color: #000;
}

 .links {
     background-color: #fff;
     height: 80px;
     position: absolute;
     width: 100%;
     top: 700px;
     display: flex;
     justify-content: space-between;
     /* Равномерное распределение между картинками */
     align-items: center;
     /* Вертикальное выравнивание */
    z-index: 2000;

 }

 .links img {
     max-height: 60px;
     /* Высота изображений */

     /* Растягиваем изображение по ширине контейнера */
     object-fit: cover;
     /* Картинка заполняет блок без искажений */
     margin-right: 2%;
     margin-left: 2%;
 }

 .vac{
    background-color: #fff;
    height: 480px;
    width: 90%;
    position: absolute;
    top: 200px;
    z-index: 2000;
    margin-left: 20px;
    border-radius: 25px 25px;
 }
.title{
    text-align: center;
    margin-top: 20px;
}
 .pics img{
    height: 350px;
    width: 90%;
    padding:  30px;
    margin-left: 20px;
    
 }

 .thank-you-button {
     background-color: #FF8C00;
     border: none;
     color: black;
     padding: 10px 20px;
     font-size: 16px;
     cursor: not-allowed;
     border-radius: 100px;
     width: 250px;
     height: 50px;
    position: absolute;
     bottom: 30px;
     left: 50%;
     transform: translateX(-50%);
 }

 .search-button {
     background-color: white;
    
     border-radius: 50%;
     /* Круглая форма */
     width: 50px;
     /* Размер кнопки */
     height: 50px;
     /* Размер кнопки */
     display: flex;
     align-items: center;
     justify-content: center;
     /* Центрируем содержимое */
     cursor: pointer;
     /* Указатель мыши при наведении */
     font-size: 30px;
     /* Размер лупы */
     
    position: absolute;
        top: 30px;
        left: 300px;
        z-index: 3000;
     
 }

   