* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: EUkraine;
    src: url('app/fonts/E-Ukraine-Regular.woff2') format('woff2'),
        url('app/fonts/E-Ukraine-Regular.woff') format('woff'),
        url('E-Ukraine-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #e1dfcc;
    font-family: EUkraine, sans-serif;
}

.flip-container {
    perspective: 1000px; /* Добавляем перспективу для 3D-эффекта */
    width: 100%; 
    height: 100vh;
}

.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Скрываем заднюю сторону */
    display: flex;
    justify-content: center;
    align-items: center;
}

.front {
    background-color: #d5d3be;
    /* White */
}

.back {
    background-color: white;
    transform: rotateY(180deg); /* Поворачиваем обратную сторону */
}

.qr-code {
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.flip-container.flip .flipper {
    transform: rotateY(180deg); /* Флип при добавлении класса */
}

.container {
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.document {
    background: #d5d3be;
    padding: 15px;
    border: 1.5px solid #959485; /* Light Gray */
    border-radius: 8px;
    margin-top: 10px;
}

.document p {
    font-size: 14px;
    padding-bottom: 10px;
}

h2 {
    font-size: 28px;
    font-weight: 500;
}

.footer {
    margin-top: 15px;
}

.footer p {
    margin-bottom: 5px;
    font-size: 14px; /* Smaller font for footer text */
}

.personal-info {
    margin-top: 10px;
}

.scan-button {
    padding-top: 20px;
    padding-left: 25%;
    text-align: left; /* Выровняем содержимое по левому краю */
    position: relative; /* Важно для псевдоэлемента */
    display: inline-flex; /* Для горизонтального расположения элементов */
    align-items: center; /* Вертикальное выравнивание */
    gap: 4px; /* Отступ в 4 пикселя между псевдоэлементом и текстом */
}

.status {
    margin-bottom: 20px;
    position: relative;
    margin-left: 25px;
    margin-top: 20px; /* Positioning context for the pseudo-element */
}

.status::before {
    content: '';
    background-image: url('checkbox.png'); /* Path to the checkmark image */
    background-size: contain; /* Adjust size to fit */
    background-repeat: no-repeat; /* Don't repeat the image */
    width: 18px; /* Adjust width as needed */
    height: 18px; /* Adjust height as needed */
    position: absolute; /* Position absolutely */
    left: -25px; /* Adjust to position the image */
    top: 0; /* Align vertically with text */
}

.dots {
    width: 50px;
    height: 50px;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    background-color: #FF8C00;
    cursor: pointer;
    position: relative; /* Important for positioning */
}

.wrap {
    overflow: hidden; /* Обрезаем все, что выходит за границы */
    white-space: nowrap; /* Отключаем перенос строк */
    margin-top: 20px; /* Отступ сверху для wrap */
}

.items-wrap {
    display: inline-flex; /* Используем flex для горизонтального расположения элементов */
    will-change: transform; /* Указание для браузера, что будет анимация */
}

.item {
    padding: 10px 15px; /* Увеличиваем отступы */
    margin-right: 20px; /* Увеличиваем отступ между элементами */
    background-color: #f0e7d3; /* Цвет фона элемента */
    border-radius: 8px; /* Скругляем углы */
    white-space: nowrap; /* Отключаем перенос строк внутри элемента */
}
